Package: com.moustache.tweak
Name: Moustache
Version: 1.0
Architecture: iphoneos-arm64
Description: Floating Menu UI Tweak
Maintainer: Moustache
Author: Moustache
Section: Tweaks
Depends: firmware (>= 14.0)
