Package: com.moustache.tweak
Name: Moustache
Version: 1.0
Architecture: iphoneos-arm64
Description: Fixed working tweak
Maintainer: Moustache
Author: Moustache
Section: Tweaks
Depends: firmware (>= 14.0)
